/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--Button-Group {
  text-align: right;

  
}

.ui--Button-Group.centered {
  margin-bottom: 0.5rem;
  text-align: center;
}

.ui--Button-Group button+button{
   margin-left: 10px!important;
 }

 .ui--Button-Group button{
   border-radius: 2px!important;
 }

.ui--Button-Group:not(:first-child) {
  margin-top: 0.75rem;
}

br+.ui--Button-Group {
  margin-top: 0;
}

.ui.colorButton.button{
  background:linear-gradient(315deg,rgba(254,56,118,1) 0%,rgba(124,48,221,1) 71%,rgba(58,48,221,1) 100%)!important;
  border-radius:2px;
}

@media (max-width: 767px) {
  .ui.colorButton.button{
    font-size: 13px;
    padding: .58571429em 1em .58571429em;
  }
}
